.main{
    border-radius: 0 0 100% 20%;
    width: 100%;
    height: 500px;
    background-color: #98d4d2;
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff;

}

.newBlogBtn{
    background-color: #f9e45b;
    border: none;
    padding: 10px 15px;
}

.cover-img{
    float: right;
    margin-right: 85px;
    width: 600px;
    height: 530px;
}

.intro-content{
    color: #ffffff;
    margin-top: 6%;
}

.intro-content h1{
    margin-bottom: 35px;
}

.intro-content p{
    width: 40%;
}

.recetBlogs{
    margin-top: 15%;
}


.blogCards{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px ;
}

.cardImage {
    width: 100%;
    height: 250px; 
    padding: 0;
}

.card-header{
    margin: 0;
    padding: 0;
}

.blogCards .card-body p{
    width: auto; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

#contact {
    background-color: #98d4d2;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 30px 15%;
    margin-bottom: 20%;
    text-align: center;
}

#contact .fas{
    font-size: 28pt;
    margin-bottom: 20px;
}

#contact h1{
    text-align: center;
    color: #ffffff;
}
.contactCard{
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.footer{
    background-color: #98d4d2;
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.footer ul.footerList{
    list-style-type: none;
}

.footer ul.footerList li{
    padding: 5px 0;
}

.footer h6{
    text-align: center;
}

