.messaging {
  text-align: center;
  background-color: #0DB0C1;
  color: #896012;
  font-size: 15pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  width: 65%;
  height: 100%;
  margin: 5% auto;
}

.logoSide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fromSide{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.options{
  display: flex; 
}
.btn.signUp , .btn.logIn {
  color: #ffffff;
  font-size: 14pt;
  width: 45%;
  margin-right: 15px;
}
.signUp{
  background-color: #019cab;
}

.logIn{
  background-color: #8a5d15;
}

.toasterToggle{
  display: block;
}
